[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Pillow = ">=7.0.0"
numpy = ">=1.18.0"


[dev-packages]

pytest = "*"
twine = "*"


[requires]

python_version = "3.8"